Repository ioan1/Gallery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: service-categories, service-albums, service-statistics, service-pictures, web-ui

service-categories:
  script:
  - cd service-categories
  - mvn compile test package
  - docker build -t docker.redby.fr/gallery/service-categories .
  - docker push docker.redby.fr/gallery/service-categories
  after_script:
  - rm -rf .git

service-albums:
  script:
  - cd service-albums
  - mvn compile test package
  - docker build -t docker.redby.fr/gallery/service-albums .
  - docker push docker.redby.fr/gallery/service-albums
  after_script:
  - rm -rf .git

service-statistics:
  script:
  - cd service-statistics
  - mvn compile test package
  - docker build -t docker.redby.fr/gallery/service-statistics .
  - docker push docker.redby.fr/gallery/service-statistics
  after_script:
  - rm -rf .git

service-pictures:
  script:
  - cd service-pictures
  - mvn compile test package
  - docker build -t docker.redby.fr/gallery/service-pictures .
  - docker push docker.redby.fr/gallery/service-pictures
  after_script:
  - rm -rf .git

web-ui:
  script:
  - cd web-ui
  - docker build -t docker.redby.fr/gallery/web-ui .
  - docker push docker.redby.fr/gallery/web-ui
  after_script:
  - rm -rf .git

Added sonar for service albums.
  .gitlab-ci.yml
Due: none

Added service categories to sonar.
  .gitlab-ci.yml
Due: none

Test sonar
  .gitlab-ci.yml
Due: none

Added the the other projects in sonar.
  .gitlab-ci.yml
Due: none

Fixed sonar issues.
  service-albums/src/main/java/fr/redby/gallery/service/albums/MongoConfig.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/TypeOfFile.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
Due: service-albums

sonar
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/ExifService.java
Due: service-pictures

sonar
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

sonar
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
Due: service-statistics, service-pictures

sonar
  service-albums/src/main/java/fr/redby/gallery/service/albums/MongoConfig.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/MongoConfig.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/MongoConfig.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/MongoConfig.java
Due: service-categories, service-albums, service-statistics, service-pictures

sonar
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
Due: service-statistics

Implement sonar.
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/bean/Category.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/controller/CategoriesController.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/ServicePicturesApplication.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/DataType.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/controller/StatisticsController.java
Due: service-categories, service-albums, service-statistics, service-pictures

Sonar checks.
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/TypeOfFile.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/bean/Category.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifTag.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/DataType.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/DiskUsage.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYearWrapper.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/SizePerYear.java
Due: service-categories, service-albums, service-statistics, service-pictures

sonar fixes
  service-albums/src/main/java/fr/redby/gallery/service/albums/MongoConfig.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/MongoConfig.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/MongoConfig.java
  service-scheduler/jobs/Discover albums/config.xml
  service-scheduler/jobs/Discover pictures for 2005/config.xml
  service-scheduler/jobs/Discover pictures for 2006/config.xml
  service-scheduler/jobs/Discover pictures for 2007/config.xml
  service-scheduler/jobs/Discover pictures for 2008/config.xml
  service-scheduler/jobs/Discover pictures for 2009/config.xml
  service-scheduler/jobs/Discover pictures for 2010/config.xml
  service-scheduler/jobs/Discover pictures for 2011/config.xml
  service-scheduler/jobs/Discover pictures for 2012/config.xml
  service-scheduler/jobs/Discover pictures for 2013/config.xml
  service-scheduler/jobs/Discover pictures for 2014/config.xml
  service-scheduler/jobs/Discover pictures for 2015/config.xml
  service-scheduler/jobs/Discover pictures for 2016/config.xml
  service-scheduler/jobs/Discover pictures for 2017/config.xml
  service-scheduler/jobs/Discover pictures for 2018/config.xml
  service-scheduler/jobs/Discover pictures for 2019/config.xml
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/MongoConfig.java
Due: service-categories, service-albums, service-statistics, service-pictures

Restored methods in album
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
Due: service-albums

sonar
  service-albums/src/main/java/fr/redby/gallery/service/albums/controller/AlbumsController.java
Due: service-albums

sonar
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  service-albums/src/test/java/fr/redby/gallery/service/albums/ServiceAlbumsApplicationTests.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/service/CategoriesService.java
Due: service-categories, service-albums

test
  service-albums/src/test/java/fr/redby/gallery/service/albums/ServiceAlbumsApplicationTests.java
Due: service-albums

Sonar findings
  service-categories/src/main/java/fr/redby/gallery/service/categories/service/CategoriesService.java
  service-categories/src/test/java/fr/redby/gallery/service/categories/ServiceCategoriesApplicationTests.java
Due: service-categories

Updated unit tests on the statistics project.
  service-statistics/src/test/java/fr/redby/gallery/service/statistics/ServiceStatisticsApplicationTests.java
  service-statistics/src/test/resources/logback-spring.xml
Due: service-statistics

Fixing issue in the service categories + url of sonar in gitlab CI.
  .gitlab-ci.yml
  service-categories/src/main/java/fr/redby/gallery/service/categories/service/CategoriesService.java
Due: service-categories

Added parameters for the API URLs.
  web-ui/Dockerfile
  web-ui/src/app/services/albums.service.ts
  web-ui/src/app/services/categories.service.ts
  web-ui/src/app/services/pictures.service.ts
  web-ui/src/app/services/statistics.service.spec.ts
  web-ui/src/app/services/statistics.service.ts
  web-ui/src/environments/environment.prod.ts
  web-ui/src/environments/environment.ts
Due: web-ui

Changed internal URL to endpoints.
  web-ui/src/environments/environment.prod.ts
  web-ui/src/environments/environment.ts
Due: web-ui

updated docker config for web ui
  web-ui/Dockerfile
Due: web-ui

added jenkins config for 2020
  service-scheduler/jobs/Discover pictures for 2020/config.xml
Due: none

Created the versions component.
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.html
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.scss
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.spec.ts
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.ts
  web-ui/src/app/components/dashboard/dashboard.component.html
  web-ui/src/app/layouts/admin-layout/admin-layout.module.ts
Due: web-ui

In dashboard versions component, finalized the view part.
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.html
  web-ui/src/app/components/dashboard-versions/dashboard-versions.component.ts
Due: web-ui

Added ionic app in git lab.
  .gitlab-ci.yml
  docker-compose.yml
Due: none

Integrated the categories in the menu.
  ionic-app/src/app/components/menu/menu.component.ts
  ionic-app/src/app/services/categories.service.ts
Due: none

For ionic app added dockerfile and services.
  ionic-app/Dockerfile
  ionic-app/src/app/home/home.page.html
  ionic-app/src/app/services/albums.service.ts
  ionic-app/src/app/services/pictures.service.ts
  ionic-app/src/app/services/statistics.service.ts
Due: none

Moved the menu in the app component.
  ionic-app/src/app/app.component.html
  ionic-app/src/app/app.component.ts
  ionic-app/src/app/app.module.ts
  ionic-app/src/app/components/menu/menu.component.html
  ionic-app/src/app/components/menu/menu.component.scss
  ionic-app/src/app/components/menu/menu.component.spec.ts
  ionic-app/src/app/components/menu/menu.component.ts
  ionic-app/src/app/services/albums.service.ts
  ionic-app/src/app/services/categories.service.spec.ts
  ionic-app/src/app/services/categories.service.ts
  ionic-app/src/app/services/statistics.service.ts
Due: none

Created the dashboard module.
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/dashboard/dashboard.module.ts
  ionic-app/src/app/dashboard/dashboard/dashboard.component.html
  ionic-app/src/app/dashboard/dashboard/dashboard.component.scss
  ionic-app/src/app/dashboard/dashboard/dashboard.component.ts
  ionic-app/src/app/list/list.module.ts
  ionic-app/src/app/list/list.page.html
  ionic-app/src/app/list/list.page.scss
  ionic-app/src/app/list/list.page.spec.ts
  ionic-app/src/app/list/list.page.ts
Due: none

Removed the home module.
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/app.component.ts
  ionic-app/src/app/home/home.module.ts
  ionic-app/src/app/home/home.page.html
  ionic-app/src/app/home/home.page.scss
  ionic-app/src/app/home/home.page.spec.ts
  ionic-app/src/app/home/home.page.ts
Due: none

Added album module.
  ionic-app/src/app/album/album-list/album-list.component.html
  ionic-app/src/app/album/album-list/album-list.component.scss
  ionic-app/src/app/album/album-list/album-list.component.spec.ts
  ionic-app/src/app/album/album-list/album-list.component.ts
  ionic-app/src/app/album/album.module.ts
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/app.component.ts
  ionic-app/src/app/services/albums.service.ts
Due: none

Polish
  ionic-app/config.xml
  ionic-app/readme.md
  ionic-app/src/app/album/album-list/album-list.component.html
  ionic-app/src/app/dashboard/dashboard/dashboard.component.ts
Due: none

PolishAdded album details page.
  ionic-app/src/app/album/album-details/album-details.component.html
  ionic-app/src/app/album/album-details/album-details.component.scss
  ionic-app/src/app/album/album-details/album-details.component.spec.ts
  ionic-app/src/app/album/album-details/album-details.component.ts
  ionic-app/src/app/album/album-list/album-list.component.html
  ionic-app/src/app/album/album-list/album-list.component.ts
  ionic-app/src/app/album/album.module.ts
  web-ui/src/app/models/picture.ts
Due: web-ui

Path conditions:
  service-categories: any of: service-categories/**/*
  service-albums: any of: service-albums/**/*
  service-statistics: any of: service-statistics/**/*
  service-pictures: any of: service-pictures/**/*
  web-ui: any of: web-ui/**/*
