Repository ioan1/Gallery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: service-categories, service-albums, service-statistics, service-pictures, web-ui

.gitlab-ci.yml:

image: maven:latest

service-parent:
  script:
    - mvn clean install
  after_script:
    - rm -rf .git

service-categories:
  script:
    - cd service-categories
    - mvn compile test package
    - docker build -t docker.redby.fr/gallery/service-categories .
    - docker push docker.redby.fr/gallery/service-categories
  only:
    changes:
      - service-categories/**/*
  after_script:
    - rm -rf .git

service-albums:
  script:
    - cd service-albums
    - mvn compile test package
    - docker build -t docker.redby.fr/gallery/service-albums .
    - docker push docker.redby.fr/gallery/service-albums
  only:
    changes:
      - service-albums/**/*
  after_script:
    - rm -rf .git

service-statistics:
  script:
    - cd service-statistics
    - mvn compile test package
    - docker build -t docker.redby.fr/gallery/service-statistics .
    - docker push docker.redby.fr/gallery/service-statistics
  only:
    changes:
      - service-statistics/**/*
  after_script:
    - rm -rf .git

service-pictures:
  script:
    - cd service-pictures
    - mvn compile test package
    - docker build -t docker.redby.fr/gallery/service-pictures .
    - docker push docker.redby.fr/gallery/service-pictures
  only:
    changes:
      - service-pictures/**/*
  after_script:
    - rm -rf .git
    
web-ui:
  script:
    - cd web-ui
    - docker build -t docker.redby.fr/gallery/web-ui .
    - docker push docker.redby.fr/gallery/web-ui
  only:
    changes:
      - web-ui/**/*
  after_script:
    - rm -rf .git

Added dashboard widget for the picture resolution per year.
  web-ui/src/app/components/dashboard-picture-resolution-per-year-chart/dashboard-picture-resolution-per-year-chart.component.html
  web-ui/src/app/components/dashboard-picture-resolution-per-year-chart/dashboard-picture-resolution-per-year-chart.component.scss
  web-ui/src/app/components/dashboard-picture-resolution-per-year-chart/dashboard-picture-resolution-per-year-chart.component.spec.ts
  web-ui/src/app/components/dashboard-picture-resolution-per-year-chart/dashboard-picture-resolution-per-year-chart.component.ts
  web-ui/src/app/components/dashboard/dashboard.component.html
  web-ui/src/app/layouts/admin-layout/admin-layout.module.ts
  web-ui/src/app/services/statistics.service.ts
Due: web-ui

Added picture resolution per year in the statistics ws.
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PictureResolutionPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/controller/StatisticsController.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/repositories/PictureResolutionPerYearRepository.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
  web-ui/src/app/services/statistics.service.ts
Due: service-statistics, web-ui

espace
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/PicturesController.java
Due: service-pictures

Added additional information in the exif information to be gathered from pictures.
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
  service-pictures/src/test/java/fr/redby/gallery/servicepictures/ServicePicturesApplicationTests.java
Due: service-pictures

Updated the pictures per year statistics.
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PictureResolutionPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/controller/StatisticsController.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/repositories/PictureResolutionPerYearRepository.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/repositories/PicturesPerYearRepository.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
Due: service-statistics

Improved statistics "pictures per year".
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYearWrapper.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/controller/StatisticsController.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
  web-ui/src/app/components/dashboard-picture-resolution-per-year-chart/dashboard-picture-resolution-per-year-chart.component.spec.ts
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.html
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.scss
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.spec.ts
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.ts
  web-ui/src/app/components/dashboard/dashboard.component.html
  web-ui/src/app/layouts/admin-layout/admin-layout.module.ts
  web-ui/src/app/services/statistics.service.ts
Due: service-statistics, web-ui

Sorted pictures per year statistics.
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
Due: service-statistics

Improved dashboard component pictures per year.
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/PicturesPerYear.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/repositories/PicturesPerYearRepository.java
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.ts
Due: service-statistics, web-ui

When reading Exifs handle cases where some DSLRs return years on 2 digits ... .
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
Due: service-pictures

fixed unit test
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
Due: service-pictures

fixed bug
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
Due: service-pictures

Added lazy loading of variables for template rendering.
  web-ui/src/app/components/dashboard-disk-usage-summary/dashboard-disk-usage-summary.component.html
  web-ui/src/app/components/dashboard-pictures-per-year-chart/dashboard-pictures-per-year-chart.component.html
  web-ui/src/app/components/dashboard-size-per-year-chart/dashboard-size-per-year-chart.component.html
Due: web-ui

Added redis in docker compose file.
  docker-compose.yml
Due: none

Adding thumbnail cache with redis.
  service-pictures/pom.xml
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

Added picture viewer.
  web-ui/angular.json
  web-ui/package-lock.json
  web-ui/package.json
  web-ui/src/app/components/album/album.component.html
  web-ui/src/app/components/album/album.component.ts
Due: web-ui

Launch the gallery only when the thumbnails are fully loaded.
  web-ui/src/app/components/album/album.component.html
  web-ui/src/app/components/album/album.component.ts
Due: web-ui

Added scheduler service.
  .gitlab-ci.yml
  docker-compose.yml
  service-scheduler/Dockerfile
  service-scheduler/jobs/Discover pictures for 2005/config.xml
  service-scheduler/jobs/Discover pictures for 2006/config.xml
  service-scheduler/jobs/Discover pictures for 2007/config.xml
  service-scheduler/jobs/Discover pictures for 2008/config.xml
  service-scheduler/jobs/Discover pictures for 2009/config.xml
  service-scheduler/jobs/Discover pictures for 2010/config.xml
  service-scheduler/jobs/Discover pictures for 2011/config.xml
  service-scheduler/jobs/Discover pictures for 2012/config.xml
  service-scheduler/jobs/Discover pictures for 2013/config.xml
  service-scheduler/jobs/Discover pictures for 2014/config.xml
  service-scheduler/jobs/Discover pictures for 2015/config.xml
  service-scheduler/jobs/Discover pictures for 2016/config.xml
  service-scheduler/jobs/Discover pictures for 2017/config.xml
  service-scheduler/jobs/Discover pictures for 2018/config.xml
  service-scheduler/jobs/Discover pictures for 2019/config.xml
  service-scheduler/plugins.txt
  service-scheduler/security.groovy
Due: none

Updated scheduled hour.
  service-scheduler/jobs/Discover pictures for 2005/config.xml
  service-scheduler/jobs/Discover pictures for 2006/config.xml
  service-scheduler/jobs/Discover pictures for 2007/config.xml
  service-scheduler/jobs/Discover pictures for 2008/config.xml
  service-scheduler/jobs/Discover pictures for 2009/config.xml
  service-scheduler/jobs/Discover pictures for 2010/config.xml
  service-scheduler/jobs/Discover pictures for 2011/config.xml
  service-scheduler/jobs/Discover pictures for 2012/config.xml
  service-scheduler/jobs/Discover pictures for 2013/config.xml
  service-scheduler/jobs/Discover pictures for 2014/config.xml
  service-scheduler/jobs/Discover pictures for 2015/config.xml
  service-scheduler/jobs/Discover pictures for 2016/config.xml
  service-scheduler/jobs/Discover pictures for 2017/config.xml
  service-scheduler/jobs/Discover pictures for 2018/config.xml
  service-scheduler/jobs/Discover pictures for 2019/config.xml
Due: none

Changed triggers.
  service-scheduler/jobs/Discover pictures for 2005/config.xml
  service-scheduler/jobs/Discover pictures for 2006/config.xml
  service-scheduler/jobs/Discover pictures for 2007/config.xml
  service-scheduler/jobs/Discover pictures for 2008/config.xml
  service-scheduler/jobs/Discover pictures for 2009/config.xml
  service-scheduler/jobs/Discover pictures for 2010/config.xml
  service-scheduler/jobs/Discover pictures for 2011/config.xml
  service-scheduler/jobs/Discover pictures for 2012/config.xml
  service-scheduler/jobs/Discover pictures for 2013/config.xml
  service-scheduler/jobs/Discover pictures for 2014/config.xml
  service-scheduler/jobs/Discover pictures for 2015/config.xml
  service-scheduler/jobs/Discover pictures for 2016/config.xml
  service-scheduler/jobs/Discover pictures for 2017/config.xml
  service-scheduler/jobs/Discover pictures for 2018/config.xml
  service-scheduler/jobs/Discover pictures for 2019/config.xml
Due: none

Added mongodb caching for the categories and albums.
  service-albums/pom.xml
  service-albums/src/main/java/fr/redby/gallery/service/albums/MongoConfig.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/ServiceAlbumsApplication.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/TypeOfFile.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/controller/AlbumsController.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/repository/AlbumRepository.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  service-albums/src/test/java/fr/redby/gallery/service/albums/ServiceAlbumsApplicationTests.java
  service-categories/pom.xml
  service-categories/src/main/java/fr/redby/gallery/service/categories/MongoConfig.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/bean/Category.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/controller/CategoriesController.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/repository/CategoriesRepository.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/service/CategoriesService.java
  web-ui/src/app/components/sidebar/sidebar.component.html
Due: service-categories, service-albums, web-ui

Fixed bug in sidebar.
  web-ui/src/app/components/sidebar/sidebar.component.html
Due: web-ui

Fixed bug in albums list.
  web-ui/src/app/components/category/category.component.html
Due: web-ui

Fixed issues in ELK IP.
  service-albums/src/main/resources/logback-spring.xml
  service-categories/src/main/resources/logback-spring.xml
  service-pictures/src/main/resources/logback-spring.xml
  service-statistics/src/main/resources/logback-spring.xml
  web-ui/src/app/components/album/album.component.html
  web-ui/src/app/services/pictures.service.ts
Due: service-categories, service-albums, service-statistics, service-pictures, web-ui

Added back ID in album.
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  web-ui/src/app/components/category/category.component.html
  web-ui/src/app/services/pictures.service.ts
Due: service-albums, web-ui

Added back the year link in the album page.
  web-ui/src/app/components/album/album.component.html
Due: web-ui

Add medium sized pictures.
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/PicturesController.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
  web-ui/src/app/components/album/album.component.ts
Due: service-pictures, web-ui

Added thumbnail cache component.
  service-statistics/pom.xml
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/controller/StatisticsController.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
  web-ui/src/app/components/dashboard-thumbnails-cache/dashboard-thumbnails-cache.component.html
  web-ui/src/app/components/dashboard-thumbnails-cache/dashboard-thumbnails-cache.component.scss
  web-ui/src/app/components/dashboard-thumbnails-cache/dashboard-thumbnails-cache.component.spec.ts
  web-ui/src/app/components/dashboard-thumbnails-cache/dashboard-thumbnails-cache.component.ts
  web-ui/src/app/components/dashboard/dashboard.component.html
  web-ui/src/app/components/dashboard/dashboard.component.ts
  web-ui/src/app/layouts/admin-layout/admin-layout.module.ts
  web-ui/src/app/services/statistics.service.ts
Due: service-statistics, web-ui

Added support for each (for now, only the page with an empty service).
  service-albums/src/main/java/fr/redby/gallery/service/albums/controller/AlbumsController.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  web-ui/src/app/components/category/category.component.html
  web-ui/src/app/components/search/search.component.html
  web-ui/src/app/components/search/search.component.scss
  web-ui/src/app/components/search/search.component.spec.ts
  web-ui/src/app/components/search/search.component.ts
  web-ui/src/app/layouts/admin-layout/admin-layout.module.ts
  web-ui/src/app/layouts/admin-layout/admin-layout.routing.ts
  web-ui/src/app/services/albums.service.ts
Due: service-albums, web-ui

typo
  web-ui/src/app/services/albums.service.ts
Due: web-ui

search improvements
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/repository/AlbumRepository.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  web-ui/src/app/components/search/search.component.html
  web-ui/src/app/components/search/search.component.ts
Due: service-albums, web-ui

Improved search engine.
  web-ui/src/app/components/components.module.ts
  web-ui/src/app/components/navbar/navbar.component.html
  web-ui/src/app/components/navbar/navbar.component.ts
  web-ui/src/app/components/search/search.component.html
Due: web-ui

added replicas to pictures service
  docker-compose.yml
Due: none

removed unused command restart
  docker-compose.yml
Due: none

Added progress bar when loading albums.
  web-ui/src/app/components/album/album.component.html
Due: web-ui

Changed mongo db databases names.
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/MongoConfig.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/MongoConfig.java
Due: service-statistics, service-pictures

Added service to rediscover all albums daily.
  service-albums/src/main/java/fr/redby/gallery/service/albums/controller/AlbumsController.java
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  service-scheduler/jobs/Discover albums/config.xml
Due: service-albums

Changed typo in path for the scheduler service.
  service-scheduler/jobs/Discover albums/config.xml
Due: none

Fixed issue in albums discovery.
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
Due: service-albums

Doctir + improved the search engine.
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
  service-categories/src/main/java/fr/redby/gallery/service/categories/service/CategoriesService.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/beans/DiskUsage.java
  service-statistics/src/main/java/fr/redby/gallery/service/statistics/service/StatisticsService.java
Due: service-categories, service-albums, service-statistics, service-pictures

Remove all mvnw files.
  service-albums/mvnw
  service-albums/mvnw.cmd
  service-categories/mvnw
  service-categories/mvnw.cmd
  service-pictures/mvnw
  service-pictures/mvnw.cmd
  service-statistics/mvnw
  service-statistics/mvnw.cmd
Due: service-categories, service-albums, service-statistics, service-pictures
