Repository ioan1/Gallery: changes, and which GitLab CI jobs are due for each by the changed paths.
All: service-scheduler, service-categories, service-albums, service-statistics, service-pictures, web-ui

.gitlab-ci.yml:

image: maven:latest

service-parent:
  script:
    - mvn clean install
  after_script:
    - rm -rf .git

service-scheduler:
  script:
    - cd service-scheduler
    - docker build -t docker.redby.fr/gallery/service-scheduler .
    - docker push docker.redby.fr/gallery/service-scheduler
  only:
    changes:
      - service-scheduler/**/*
  after_script:
    - rm -rf .git

service-categories:
  script:
    - cd service-categories
    - mvn clean compile test package sonar:sonar -Dsonar.projectKey=service-categories -Dsonar.host.url=http://192.168.0.111:9000 -Dsonar.login=8d82a0f69c4e86d0a7b03c5c078308fef1ec2726
    - docker build -t docker.redby.fr/gallery/service-categories .
    - docker push docker.redby.fr/gallery/service-categories
  only:
    changes:
      - service-categories/**/*
  after_script:
    - rm -rf .git

service-albums:
  script:
    - cd service-albums
    - mvn clean compile test package sonar:sonar -Dsonar.projectKey=service-albums -Dsonar.host.url=http://192.168.0.111:9000 -Dsonar.login=8d82a0f69c4e86d0a7b03c5c078308fef1ec2726
    - docker build -t docker.redby.fr/gallery/service-albums .
    - docker push docker.redby.fr/gallery/service-albums
  only:
    changes:
      - service-albums/**/*
  after_script:
    - rm -rf .git

service-statistics:
  script:
    - cd service-statistics
    - mvn clean compile test package sonar:sonar -Dsonar.projectKey=service-statistics -Dsonar.host.url=http://192.168.0.111:9000 -Dsonar.login=8d82a0f69c4e86d0a7b03c5c078308fef1ec2726
    - docker build -t docker.redby.fr/gallery/service-statistics .
    - docker push docker.redby.fr/gallery/service-statistics
  only:
    changes:
      - service-statistics/**/*
  after_script:
    - rm -rf .git

service-pictures:
  script:
    - cd service-pictures
    - mvn clean compile test package sonar:sonar -Dsonar.projectKey=service-pictures -Dsonar.host.url=http://192.168.0.111:9000 -Dsonar.login=8d82a0f69c4e86d0a7b03c5c078308fef1ec2726
    - docker build -t docker.redby.fr/gallery/service-pictures .
    - docker push docker.redby.fr/gallery/service-pictures
  only:
    changes:
      - service-pictures/**/*
  after_script:
    - rm -rf .git
    
web-ui:
  script:
    - cd web-ui
    - docker build -t docker.redby.fr/gallery/web-ui .
    - docker push docker.redby.fr/gallery/web-ui
  only:
    changes:
      - web-ui/**/*
  after_script:
    - rm -rf .git

Added thumbnail for albums (randomly).
  ionic-app/src/app/album/album-details/album-details.component.scss
  ionic-app/src/app/album/album-list/album-list.component.html
  ionic-app/src/app/app.component.scss
  ionic-app/src/app/services/albums.service.ts
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/PicturesController.java
Due: service-albums, service-pictures

Fixed issue in albums service
  service-albums/src/main/java/fr/redby/gallery/service/albums/bean/Album.java
Due: service-albums

Changed default angular app to be revealed on the internet
  reverse-proxy/default.conf
Due: none

updated git ignore file
  .gitignore
  ionic-app/.gitignore
Due: none

Updated git ignore file
  .gitignore
Due: none

Code cleanup in the album details page.
  ionic-app/src/app/album/album-details/album-details.component.ts
Due: none

Created Picture structure in ionic app.
  docker-compose.yml
  ionic-app/Dockerfile
  ionic-app/src/app/album/album-details/album-details.component.ts
  ionic-app/src/app/services/pictures.service.ts
Due: none

Temporarly disable web interfaces in the docker compose.
  docker-compose.yml
Due: none

Temporarly disable web interfaces in the docker compose.
  reverse-proxy/default.conf
Due: none

Updated albums service to ignore directories like
  service-albums/src/main/java/fr/redby/gallery/service/albums/service/AlbumService.java
Due: service-albums

Updated albums service to ignore directories like eaDir
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

Added full screen possibility.
  ionic-app/package-lock.json
  ionic-app/package.json
  ionic-app/src/app/album/album-details/album-details.component.html
  ionic-app/src/app/album/album-details/album-details.component.scss
  ionic-app/src/app/album/album-details/album-details.component.ts
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/PicturesController.java
Due: service-pictures

Added size, width and height attribute on a picture.
  ionic-app/src/app/album/album-details/album-details.component.scss
  ionic-app/src/app/album/album-details/album-details.component.ts
  ionic-app/src/app/services/pictures.service.ts
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/Picture.java
Due: service-pictures

Added size, width and height attribute on a picture.
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/Picture.java
Due: service-pictures

Added todos
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/Picture.java
Due: service-pictures

Choose the right picture to start slide.
  ionic-app/src/app/album/album-details/album-details.component.html
  ionic-app/src/app/album/album-details/album-details.component.ts
Due: none

Upated comment, removed size limitation over the menu.
  ionic-app/package.json
  ionic-app/readme.md
  ionic-app/src/app/app.component.scss
Due: none

Added with, height and image size in the exif data.
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/ExifData.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/bean/Picture.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

Added with, height and image size in the exif data.
  ionic-app/src/app/album/album-details/album-details.component.ts
  ionic-app/src/app/services/pictures.service.ts
Due: none

Added settings page.
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/app.component.ts
  ionic-app/src/app/services/pictures.service.ts
  ionic-app/src/app/settings/settings.component.html
  ionic-app/src/app/settings/settings.component.scss
  ionic-app/src/app/settings/settings.component.spec.ts
  ionic-app/src/app/settings/settings.component.ts
  ionic-app/src/app/settings/settings.module.ts
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/ExifController.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/controller/PicturesController.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/ExifService.java
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

fixed bug in small thumbs generation.
  ionic-app/src/app/album/album-list/album-list.component.html
  service-pictures/src/main/java/fr/redby/gallery/servicepictures/service/PicturesService.java
Due: service-pictures

Updated favicon.
  ionic-app/src/assets/icon/favicon.png
  ionic-app/src/assets/shapes.svg
Due: none

Updated config for ionic app.
  .gitlab-ci.yml
  docker-compose.yml
  ionic-app/Dockerfile
  pom.xml
  reverse-proxy/default.conf
Due: none

Updated docker config.
  docker-compose.yml
  ionic-app/Dockerfile
Due: none

Improved dashboard elements display
  ionic-app/src/app/dashboard/dashboard/dashboard.component.html
  ionic-app/src/app/services/pictures.service.ts
Due: none

Removed log appender
  ionic-app/package.json
  ionic-app/src/app/album/album-details/album-details.component.html
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/services/pictures.service.ts
  ionic-app/src/app/settings/settings.component.html
  ionic-app/src/app/settings/settings.component.scss
  ionic-app/src/app/settings/settings.component.spec.ts
  ionic-app/src/app/settings/settings.component.ts
  ionic-app/src/app/settings/settings.module.ts
  service-albums/src/main/resources/logback-spring.xml
  service-categories/src/main/resources/logback-spring.xml
  service-pictures/src/main/resources/logback-spring.xml
  service-statistics/src/main/resources/logback-spring.xml
Due: service-categories, service-albums, service-statistics, service-pictures

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

updating the CI ports
  reverse-proxy/default.conf
Due: none

defined default port for the reverse proxy
  docker-compose.yml
Due: none

ignoring intellij files
  .gitignore
Due: none

for the angular app, ahh hash in the url
  ionic-app/src/app/app.module.ts
  ionic-app/src/app/shared/interceptor/basic-auth-interceptor.ts
Due: none

Added fake user authentication
  ionic-app/src/app/app-routing.module.ts
  ionic-app/src/app/app.module.ts
  ionic-app/src/app/login/login.component.html
  ionic-app/src/app/login/login.component.scss
  ionic-app/src/app/login/login.component.spec.ts
  ionic-app/src/app/login/login.component.ts
  ionic-app/src/app/models/user.ts
  ionic-app/src/app/services/authentication.service.ts
  ionic-app/src/app/services/user.service.ts
  ionic-app/src/app/shared/auth.guard.ts
  ionic-app/src/app/shared/error.interceptor.ts
  ionic-app/src/app/shared/fake-backend.ts
  ionic-app/src/app/shared/interceptor/basic-auth-interceptor.ts
  ionic-app/src/app/shared/jwt.interceptor.ts
Due: none

Hide menu when not authenticated.
  ionic-app/src/app/app.component.html
  ionic-app/src/app/app.component.ts
  ionic-app/src/app/login/login.component.ts
Due: none

Update app.component.html
  ionic-app/src/app/app.component.html
Due: none

Update app.component.ts
  ionic-app/src/app/app.component.ts
Due: none

Hide menu when not authenticated.
  ionic-app/src/app/app.component.html
  ionic-app/src/app/app.component.ts
Due: none

Initial commit
  Memory/Memory.ipr
  Memory/Memory.iws
  Memory/untitled/MemoryTest/.classpath
  Memory/untitled/MemoryTest/.project
  Memory/untitled/MemoryTest/.settings/org.eclipse.jdt.core.prefs
  Memory/untitled/MemoryTest/bin/Container.class
  Memory/untitled/MemoryTest/bin/Main.class
  Memory/untitled/MemoryTest/src/Container.java
  Memory/untitled/MemoryTest/src/Main.java
  Memory/untitled/out/production/untitled/Hello.class
  Memory/untitled/src/Hello.java
  Memory/untitled/untitled.iml
  Memory/untitled/untitled.ipr
  Memory/untitled/untitled.iws
  service-albums/src/main/.DS_Store
  service-albums/src/main/java/.DS_Store
  service-albums/src/main/java/fr/.DS_Store
  service-albums/src/main/java/fr/redby/.DS_Store
  service-albums/src/main/java/fr/redby/gallery/.DS_Store
  service-albums/src/main/java/fr/redby/gallery/service/.DS_Store
  service-albums/src/main/java/fr/redby/gallery/service/albums/.DS_Store
  service-categories/src/main/.DS_Store
  service-categories/src/main/java/.DS_Store
  service-categories/src/main/java/fr/.DS_Store
  service-categories/src/main/java/fr/redby/.DS_Store
  service-categories/src/main/java/fr/redby/gallery/.DS_Store
  service-categories/src/main/java/fr/redby/gallery/service/.DS_Store
  service-categories/src/main/java/fr/redby/gallery/service/categories/.DS_Store
Due: service-categories, service-albums
